*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/

# Backend & Admin Web ignores
/backend/vendor/
/backend/.env
/backend/storage/*.key
/backend/storage/logs/*.log
/admin/node_modules/
/admin/dist/
/admin/.env.local
